header {
	background: rgb(20, 147, 50);
	color: white;
	padding: 20px 30px;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 6px (0, 0, 0, 0.2);
}


footer{
	background: rgb(20, 147, 50);
	text-align:center;
	color: white;
	padding: 20px 30px;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 6px (0, 0, 0, 0.2);
}
	
.ENT{background-color: rgb(253, 119, 119); color:rgb(143, 6, 6) ;text-align:center;}
.DIG{background-color: rgb(65, 103, 65); color: rgb(13, 223, 13);text-align:center; }
.SIS{background-color: rgb(162, 162, 252); color:blue; text-align:center;}
.LDM{background-color: pink;color: rgb(185, 61, 82);text-align:center;}
.IPE{background-color: rgb(255, 255, 154);color: rgb(91, 91, 5); text-align:center;}
.PRO{background-color: rgb(156, 254, 254);color:rgb(17, 98, 98); text-align:center;}
.SOS{background-color: rgb(251, 135, 251);color:rgb(134, 12, 134); text-align:center;}
.ING{background-color: rgb(246, 202, 121);color:rgb(147, 101, 15);text-align:center;}
.BDD{background-color: rgb(125, 249, 125);color:rgb(13, 143, 13); text-align:center;}
.REC{background-color: rgb(250, 176, 250); text-align:center;}
.PRI{background-color: white; text-align: center;}
th, td{border: 3px solid black; width: 9%; height: 50px;}
th{background-color: black; color: blue;}

.Hora{text-align: center;}